<div class="container-fluid h-100">
    <div class="row">
        <breadcrum-component class="col" *ngIf="breadcrumbItems" [breadcrumbItems]="breadcrumbItems">
        </breadcrum-component>
    </div>
    <div class="row">
        <h3 *ngIf="videoGallery" class="col">Videos - {{videoGallery.displayName}}</h3>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-6 card-deck">
            <div class="w-100 row d-flex justify-content-center">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="10"
                    [rotate]="true" (pageChange)="pageChange()"></ngb-pagination>
            </div>
            <div class="row">
                <custom-card-component *ngFor="let video of videos" [title]='video.displayName' [description]=''
                    (click)="SelectFile(video)">
                </custom-card-component>
            </div>
        </div>
        <div class="col-6">
            <div *ngIf="selectedVideo" style="float: right;">
                <video-viewer-component [selectedVideo]="selectedVideo"></video-viewer-component>
            </div>
        </div>
    </div>
    <load-indicator-component *ngIf="loading" class="row"></load-indicator-component>
</div>