<div class="container-fluid h-100">
    <div class="row">
        <breadcrum-component class="col" *ngIf="breadcrumbItems" [breadcrumbItems]="breadcrumbItems">
        </breadcrum-component>
    </div>
    <div class="row">
        <h3 *ngIf="videoGallery" class="col">Videos - {{videoGallery.displayName}}</h3>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-6 card-deck">
            <ngb-pagination class="w-100 custom-row d-flex justify-content-center" style="max-height: 40px;"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="10" [rotate]="true"
                (pageChange)="pageChange()">
            </ngb-pagination>
            <div class="custom-row custom-card-deck d-flex justify-content-center">
                <custom-card-component *ngFor="let video of videos" [title]='video.displayName' [description]=''
                    [showButtons]="true" [itemID]="video.id" (onImg)="SelectFile(video)"
                    (onDownload)="download($event)">
                </custom-card-component>
            </div>
        </div>
        <div class="col-6">
            <video-viewer-component *ngIf="selectedVideo" [selectedVideo]="selectedVideo"></video-viewer-component>
        </div>
    </div>
    <load-indicator-component *ngIf="loading" class="row"></load-indicator-component>
</div>