.custom-paginator {
  max-height: 45px;
  margin-top: 5px;
}

.custom-card-list-item {
  height: 48px;
}

.custom-card-list-item-div {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
}

.btn-custom {
  height: 30px;
  padding: 0px 5px 0px 5px;
}

ngb-rating {
  font-size: 40px;
  color: #ffc107;
}
