
DBProviders/bin/

MediaLibraryServer/bin/

MediaLibraryServer/.vs/

MySQLProvider/bin/

SQLiteProvider/bin/

VideoEncoder/bin/

VideoEncoder/obj/

SQLiteProvider/obj/

MySQLProvider/obj/

MediaLibraryServer/obj/

MediaLibaryCommon/.vs/

MediaLibaryCommon/bin/

MediaLibaryCommon/obj/

ImageComparisonService/bin/

ImageComparisonService/obj/

DBProviders/obj/

MediaLibraryServer/medialibrary.db

VideoStreamClient/package-lock.json

TestBench/bin/Debug

TestBench/obj/
/media-library-client/.nx
