<div class="container-fluid h-100">
    <div class="row">
        <breadcrum-component class="col" *ngIf="breadcrumbItems" [breadcrumbItems]="breadcrumbItems">
        </breadcrum-component>
    </div>
    <div class="row">
        <h3>Series Gallery</h3>
    </div>
    <div class="row">
        <div class="col card-deck">
            <custom-card-component *ngFor="let series of SeriesList" [route]="['/series-episode-list',series.id]"
                [title]='series.displayName' [description]=''>
            </custom-card-component>
        </div>
    </div>
</div>