<div class="container-fluid h-100">
    <div class="row">
        <breadcrum-component class="col" *ngIf="breadcrumbItems" [breadcrumbItems]="breadcrumbItems">
        </breadcrum-component>
    </div>
    <div class="row">
        <h3>Video Galleries</h3>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col card-deck">
            <custom-card-component *ngFor="let video of videoList" [route]="['/video-list',video.id]"
                [title]='video.displayName' [description]=''>
            </custom-card-component>
        </div>
    </div>
    <load-indicator-component *ngIf="loading" class="row"></load-indicator-component>
</div>