<div class="container-fluid h-100">
    <div class="row">
        <breadcrum-component class="col" *ngIf="breadcrumbItems" [breadcrumbItems]="breadcrumbItems">
        </breadcrum-component>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <h4 class="card-header">Settings</h4>
                <div class="card-body">
                    <div *ngIf="loading">Loading...</div>
                    <div *ngIf="!loading">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>