<div class="container-fluid h-100">
    <div class="row">
        <breadcrum-component class="col" *ngIf="breadcrumbItems" [breadcrumbItems]="breadcrumbItems">
        </breadcrum-component>
    </div>
    <div class="row">
        <h3 class="col">Gallery Images</h3>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-7 card-deck custom-card-deck">
            <div class="w-100 row d-flex justify-content-center">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="10"
                    [rotate]="true" (pageChange)="pageChange()"></ngb-pagination>
            </div>
            <div class="row">
                <custom-card-component *ngFor="let image of Images" [route]='["/image-list", GalleryID]' [title]=''
                    [description]='image.displayName' [thumbnail]="image.imageThumbnail" (click)="selectCard(image)">
                </custom-card-component>
            </div>
        </div>
        <div class="col-5">
            <image-viewer-component class="h-100" [selectedImage]="selectedImage"></image-viewer-component>
        </div>
    </div>
    <div *ngIf="loading" class="row">
        <h3 class="col">Loading...</h3>
    </div>
</div>